# https://php.watch/articles/composer-gitattributes

# Exclude build/test files from archive
/examples           export-ignore
/build.sh           export-ignore
/build-ext-test.sh  export-ignore
/build-parallel.sh  export-ignore
/check-cli.sh       export-ignore
/check-ssl.sh       export-ignore
